.footer{

    background-color: #111417;
}
.header{
    color: #353D45;
    padding-bottom: 10px;
}
.listing{
    color: #BCC6D0;
    
}
.footer-end{
    color: #353D45;
}
li{
    padding-bottom: 10px;
}