.first-heading {
  font-family: "Inter", sans-serif;
  font-size: 150px;
}
.first-subheading {
  font-family: "Inter", sans-serif;
}
.second-heading {
  font-family: "Inter", sans-serif;
}
.second-subheading {
  font-family: "Inter", sans-serif;
}
.header-image {
  height: 400px;
  width: 700px;
}
.paragraph {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
}
